*{
	font-family: 'Old Standard TT', serif;
}
html,body{
	height:100%;
}

#main,#portfolio{
	min-height: 100%;
	max-height: auto;
}
#main{
	background-image: url("img/laptop-min.jpg");
	background-size: cover;
	background-position: center;
	text-align:center;
}
	#main img{
		margin-top:7%;
	}
	#main h1{
		font-size: 96px;
	}
	#main h2{
		font-size: 35px;
	}
#portfolio{
	background-color: #CCCCCC;
}
	#portfolio h1{
		font-size: 80px;
		margin-top: 50px;
	}
#contact{
	background-color: #e6e6e6;
	padding-top: 60px;
	min-height: 90%;
	max-height: auto;
}
	#contact h1{
		font-size: 80px;
	}
.footer{
	background-color:#545151;
	color:white;
	min-height: 60px;
}
.copyright{
	padding-top: 20px;
}
.sendBtn{
	/*margin-bottom: 20px !important;*/
}

/* Media queries */

@media only screen and (max-width:577px){
	.resumeSmall{
		margin-bottom: 3px;
	}
	#main img{
		margin-top: 15%;
	}
}
@media only screen and (max-width:469px){
	#main h1{
	font-size: 81px;
	}
}
@media only screen and (max-width:401px){
	.githubSmall{
		margin-bottom: 3px;
	}
	#main h1{
		font-size: 60px;
	}
}






