html,body{
	height:100%;
}
*{
	font-family: 'Old Standard TT', serif;
}
#main{
	background-image: url("https://sites.google.com/site/jklinckportfolio/_/rsrc/1460183933445/home/laptop-min.jpg");
	background-size: cover;
	background-position: center;
	text-align:center;
}
#main h1{
	margin-top:16%;
}
#portfolio{
	background-color: #CCCCCC;
}

#main,#about,#portfolio,#contact{
	min-height: 100%;
	max-height: auto;
}
#main h1{
	font-size: 96px;
}
#contact{
	background-color: #e6e6e6;
}
#contact h1{
	font-size: 80px;
	margin-top: 10%;
}
#portfolio h1{
	font-size: 80px;
	margin-top: 50px;
}
#main h2{
	font-size: 35px;
}
.footer{
	background-color:#545151;
	color:white;
}
.sendBtn{
	margin-bottom: 20px !important;
}
@media only screen and (max-width:577px){
	.resumeSmall{
		margin-bottom: 3px;
	}
}
@media only screen and (max-width:469px){
	#main h1{
	margin-top:100px;
	font-size: 81px;
	}
}
@media only screen and (max-width:401px){
	.githubSmall{
		margin-bottom: 3px;
	}
	#main h1{
		font-size: 60px;
		margin-top: 200px;
	}
}





